.footer-nav-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  ul {
    display: flex;
    li {
      padding: 30px 15px;
      a {
        font-size: 20px;
        color: #ffffff;
        letter-spacing: 0.1em;
        display: inline-block;
        position: relative;
      }
      a::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: #ffffff;
        transition: all 0.4s ease 0s;
      }
      a:hover::after {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1000px) { 
}

@media (max-width: 670px) {
}