footer {
  background-color: #6CB8FF;
  animation: gradation 6s infinite;
  @keyframes gradation {
    0% { background-color: #667db6; }
    50% { background-color: #0082c8; }
    100% { background-color: #667db6; }
  }
}
.footer-nav-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  .cf {
    display: flex;
    li {
      padding: 30px 0px;
      a {
        font-size: 20px;
        color: #ffffff;
        letter-spacing: 0.1em;
        display: inline-block;
        position: relative;
      }
      a::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: #ffffff;
        transition: all 0.4s ease 0s;
      }
      a:hover::after {
        width: 100%;
      }
    }
    .center, .right {
      padding-left: 30px;
    }
  }
}

@media (max-width: 1000px) { 
  .footer-nav-container {
    .cf {
      li {
        padding: 30px 0;
      }
    }
  }
}

@media (max-width: 670px) {
  .footer-nav-container {
    .cf {
      li {
        padding: 30px 30px;
        a {
          font-size: 90%;
        }
      }
      .center, .right {
        padding-left: 20px;
      }
    }
  }
}