.header-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.logo {
  h3 {
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.1em;
  }
  h4 {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.1em;
  }
}

.social {
  a {
    font-size: 33px;
    color: #ffffff;
    .i {
      transition: all 0.4s ease 0s;
    }
    .i:hover {
      transform: scale(1.1, 1.1);
    }
  }
  .fa-twitter-square {
    padding-right: 10px;
  }
}

@media (max-width: 1000px) { 
  .header-container {
    padding: 60px 30px;
  }
  .logo {
    h3 {
      font-size: 27px;
    }
    h4 {
      font-size: 22px;
    }
  }
  .social {
    a {
      font-size: 35px;
    }
  }
}


@media (max-width: 670px) {
  header {
    height: 200px;
  }
  .header-container {
    padding: 25px 30px;
  }
  .logo {
    h3 {
      font-size: 22px;
    }
    h4 {
      font-size: 20px;
    }
  }
  .social {
    a {
      font-size: 30px;
    }
  }
}