.main-section {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 100px 10px;
  color: #333333;
  opacity: 0;
  h2 {
    font-size: 40px;
    letter-spacing: 0.1em;
    padding: 60px 0px 50px;
    font-weight: lighter;
    text-align: center;
  }
  &.inview {
    @include animation (
      $name: kf-fadeInUp,
      $duration: 1.8s,
      $fill-mode: both
    );
  }
}

@keyframes kf-fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@media (max-width: 1000px) { 

}

@media (max-width: 670px) {
  .main-section {
    padding: 50px 10px;
  }
}