.main-author {
  display: flex;
  &__image {
    padding: 25px 40px 0px 120px;
    img {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__introduction {
    h3 {
      font-size: 23px;
      letter-spacing: 0.1em;
    }
    p.txt {
      font-size: 18px;
      letter-spacing: 0.1em;
      padding: 15px 0px;
    }
    p.stxt {
      font-size: 15px;
      letter-spacing: 0.1em;
      padding: 10px 0px;
    }
  }
}

@media (max-width: 1000px) { 
  .main-author {
    display: block;
    text-align: center;
    &__image {
      padding: 10px 0;
    }
    &__introduction {
      padding: 30px;
    }
  }
}

@media (max-width: 670px) {
  .main-author {
    display: block;
    text-align: center;
    &__introduction {
      padding: 5px;
      p.txt {
        font-size: 15px;
      }
    }
  }
}