%footer
  .footer-nav-container
    %ul.cf
      %li.left
        %a(href="#about")
          About
      %li.center
        %a(href="#works")
          Works
      %li.right
        %a(href="#contact")
          Contact