%header
  .header-container
    .header-container__logo
      = link_to root_path do
        %h3 Hiroki Aihara
        %h4 Portfolio
    .header-container__social
      = link_to "https://twitter.com/tech_hiroki" do
        .i.fab.fa-twitter-square
      = link_to "https://github.com/hirokiaihara" do
        .i.fab.fa-github-square
  .header-nav-container
    %ul
      %li
        %a(href="#about")
          About
      %li
        %a(href="#works")
          Works
      %li
        %a(href="#contact")
          Contact